[Desktop Entry]
Name=xkcdesktop
GenericName=xkcd Viewer
Comment=View xkcd comics on your desktop
Categories=Network;Viewer;GTK;
Exec=com.github.tvale.xkcdesktop
Icon=com.github.tvale.xkcdesktop
Terminal=false
Type=Application
Keywords=xkcd;comic;comics;viewer;
